<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dojos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- linking a javascript file -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script> -->
</head>

    <body>
        <div class="container">
            <h1>Welcome To The Great Number Game</h1>
            <p>I'm thinking of a number between 1 and 100 Take a Guess!</p>
            {% if session['guess'] %}
                {% if session['guess'] == 'too_low' %}
                    <div class="box incorrect col-sm-4">
                        <p>Too Loo!</p>
                    </div>
                {% elif session['guess'] == 'too_high' %}
                    <div class="box incorrect col-sm-4">
                        <p>Too High!</p>
                    </div>
                {% elif session['guess'] == 'correct' %}
                    <div class="box correct col-sm-4">
                        <p>Correct the number was {{ session['ran_num'] }} !</p>
                        <form action="reset" method="post">
                            <button type="submit" class="btn btn-success">Play Again</button>
                        </form>
                    </div>
                {% endif %}

            {% endif %}
            {% if session['guess'] != 'correct' %}
                <form action="" method="post">
                    <input type="text" name="guess" class="form-control">
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            {% endif %}
        </div>     
    </body>

</html>